@charset "utf-8";
/* CSS Document */

/****************************************

//SP공용 반응형

****************************************/
@media screen and (max-width: 767px) {
	html {
		width: 100%;
		min-width: inherit;
	}
	.container {
		min-width: inherit;
	}
	.inner {
		width: 100%;
		padding: 0;
		min-width: 315px;
	}
	.main-wrap {
		min-height: 350px;
		padding-top: 130px;
	}
	.main-wrap.no-hidden {
        overflow: visible;
  }
	.main-wrap.has-submenu {
		padding-top: 170px !important;
    	min-height: auto;
	}
	.main-wrap.no-profile {
		padding-top: 50px;
    	min-height: 350px;
	}


	.header-bnr img.header-bnr-pc {
		display: none;
	}
	.header-bnr img.header-bnr-sp {
		display: block;
	}
	.header-bnr .inner {
		width: 100% !important;
		padding: 0 !important;
	}
	.sidebar_login_status {
		display: block !important;
	}
	.top-header-wrap .hedaer-toggle-wrap {
		margin: 0 -48% 0 0 !important;
	}


	body > .container.visible-banner-top {
		margin-top: 60px !important;
	}
	body > .container.visible-banner-top .banner-top {
		height: 60px;
	}
	.banner-top .inner, .header-wrap .banner-top .inner {
		width: 320px;
		min-width: 320px;
		padding: 0 0 0 0 !important;
	}
	.banner-top .close {
		width: 12px;
		height: 12px;
		margin-left: 145px;
		bottom: 5px;
	}

	.header-wrap {
		padding: 0 !important;
	}
	.header-wrap .inner {
		width: 100%;
		padding: 0 2% 0 4% !important;
		box-sizing: border-box;
	}
	.header-wrap .inner .header-search {
		padding: 9px 0;
	}
	.header-search h1 {
		float: left;
		padding: 0 3% 0 0;
    padding-right: 5px;
	}
	.header-search h1 a {
		padding-right: 0;
		display: table-cell;
		height: 32px;
		vertical-align: middle;
	}
	.header-search h1 a img {
		width: 100%;
		max-width: 28px;
	}
	.header-search a.btn {
		margin: 0 5px 0 5px !important;
		padding: 10px 8px 9px;
		font-size: 12px;
	}
	.header-search .header-logo-howtouse a {
		margin-top: 2px;
		font-size: 12px;
		font-weight: bold;
	}
	.header-search .select2-container {
		width: 80% !important;
	}
	.header-menu .header-menu-inner div.header-signup,
	.header-menu .header-menu-inner div.header-login {
		display: none;
	}
	.header-sitter {
		display: none !important;
	}


	/* PC,SP 로고 이미지 변경 */
	.logo_h1_sp {
		display: inline-block;
	}
	.logo_h1_pc {
		display: none;
	}


	/* SP일경우 토글메뉴 닫기*/
	.hedaer-toggle-wrap {
		display: none;
	}

  .header-menu .header-menu-inner .header-sitter,
  .header-menu .header-menu-inner .header-member,
  .header-menu .header-menu-inner .header-help {
    display: none;
  }

	/* SP 헤더 검색창 사이즈 조정 */
	.header-search form {
    padding-right: 0;
	}
	.header-search input {
		width: 80% !important;
		box-sizing: border-box;
	}
	.header-search .gnb-btn {
		width: 20%;
	}
	.header-message {
		margin-right: 0;
	}
	.header-menu div.header-member,
	.header-menu div.header-help {
		display: none;
	}

	.header-menu div a {
		color: #ffffff;
	}
	.header-menu .header-signup a {
		padding-right: 20px;
	}
	.header-menu .header-login a {
		padding-right: 0;
	}


	.footer-wrap .footer-logo-wrap .footer-logo {
    width: 85px;
    margin-bottom: 20px;
  }
  .footer-wrap .footer-logo-wrap .footer-sns {
    margin-bottom: 30px;
  }
	.footer-wrap .footer {
		margin: 30px 0 !important;
		padding: 0 4% !important;
		text-align: center;
		border: none;
		font-size: 9px;
	}
    .footer-notice {
		margin: 25px -5px 30px 0;
	}
	.footer-notice dd {
		margin-right: 5px;
	}

	form .form-control {
		padding: 8px 8% 8px 2%;
	}


	.header-menu .header-menu-inner .header-message .dropdown-menu dt span {
		margin: 2px 0 3px 0;
	}
	.header-message .dropdown-menu {
		width: 100%;
		margin-top: -1px;
		left: 0;
	}
	.header-message .dropdown-menu:before, .header-message .dropdown-menu:after {
		content: none;
	}
	.header-message .dropdown-menu a {
		padding: 20px 12px;
	}
	.header-message .dropdown-menu .profile-photo {
		left: 12px;
	}
	.header-message .dropdown-menu dl {
		margin: 3px 0 2px 60px;
	}
	.header-message .dropdown-menu dt label {
		font-size: 16px
	}
	.header-message .dropdown-menu dd {
		font-size: 14px
	}

	/* SP 슬라이드바 버튼 */
	.header-menu {
		width: 80px;
		margin: 1px 0 0;
		padding: 0;
		position: static;
		text-align: right;
	}
  .header-menu .header-menu-inner .header-message {
    padding: 0;
	position: static;
  }
	.header-message-btn-sp {
		display: block;
		width: 28px !important;
		margin-top: 3px;
	}
	.header-menu .header-menu-inner .header-message span{
		display: inline-block;
    	margin-top: 5px;
		margin-bottom: 3px;
	}
	.header-message span img.new-message {
		margin-top: -33px;
	}

	/* SP 슬라이드바 피씨용메시지 닫기 */
	#ctlNewMessageCnt,
	#ctlNewMessageList {
		display: none;
	}

	/* SP 슬라이드바 닫기버튼 위치조정  */
	#sidebar #sidebar-close {
		vertical-align: top !important;
		padding-top: 15px;
		padding-right: 15px;
	}

	/* SP 슬라이드바 */
	#sidebar {
		background-color: #F5F5F5;
	}
	#sidebar div.sidebar-header,
	#sidebar div.sidebar_sp_main {
		position: relative;
	}
	#sidebar .sidebar-title {
		height: auto !important;
	}
	.sidebar_sp_top {
		display: block;
		text-align: center;
		padding: 20px 0;
		box-sizing: border-box;
	}
	.sidebar_sp_top .sitter-thum {
		width: 80px !important;
		height: 80px;
		display: block;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-color: #ffffff;
		border: solid 1px #DCDCDC;
		overflow: hidden;
		float: none;
		margin: 0 auto 15px !important;
	}
	.sidebar_sp_top .header-name {
    display: block;
		font-weight: bold;
    width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	}

	.sidebar_sp_main {
		display: block;
	}
	.sidebar_sp_main ul {
		padding: 0;
	}
	.sidebar_sp_main li {
		text-align: center;
		padding: 10.5px;
	}
	.sidebar_sp_main li a {
		text-decoration: none;
		font-weight: bold;
		color: #868686;
	}
	#sidebar div.sidebar_sp_main_logout {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 !important;
		width: 100%;
		height: auto;
		background-color: #D8D8D8;
		text-align: center;
		padding: 15px 0;
	}
	.sidebar_sp_main_logout a {
		color: #ffffff;
		font-weight: bold;
		text-decoration: none;
	}

	.sidebar_sp_main_new {
		width: 20px;
		background-color: #fcbc4e;
		color: #ffffff;
		font-size: 12px;
		font-weight: bold;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		border: 2px solid #ffffff;
		margin-top: -4px;
	}

	.contents-wrap {
		width: 100%;
		margin: 0;
	}
	.contents {
		width: 100%;
		margin: 0;
		padding: 20px 15px;
		position: relative;
		border: none;
		border-bottom: 1px solid #dcdcdc;
	}
	.contents.heavy-padding {
		padding: 20px 15px;
	}

  .sitter-wrap .contents-detail {
    padding: 0 10px;
  }

  .infomgrt-nav ul, .account-nav ul, .profitmgrt-nav ul {
    padding: 0;
  }


	body .states-tabs {
		position: fixed;
		top: 50px;
    z-index: 97;
	}
	.states-tabs .nav-tabs {
		margin-top: 0px;
		border: none;
		border-bottom: solid 1px #ccc;
		will-change: margin-top;
    transition: margin-top 200ms linear;
    z-index: 5;
	}
	.states-tabs .nav-tabs.headroom--unpinned {
		margin-top: -50px;
	}
	.visible-banner-top .states-tabs .nav-tabs,
	.visible-banner-top .states-tabs .dropdown-menu {
		margin-top: 60px;
	}
	.visible-banner-top .states-tabs .nav-tabs.headroom--unpinned {
		margin-top: 0px;
	}
	.states-tabs .nav-tabs>li {
		width: 25%;
	}
	.states-tabs .nav-tabs>li>a {
		padding: 15px 0 14px;
	}
	.states-tabs .nav-tabs>li.open>a:after, .states-tabs .nav-tabs>li.open>a:before {
		bottom: 0;
	}
	.states-tabs .dropdown-menu {
		width: 100%;
	}
	.states-tabs .dropdown-menu li {
		width: 33.3333%;
	}
	.states-tabs .dropdown-menu input.checkbox[type=checkbox] + label {
		width: 100%;
	}
	.states-tabs .btn {
		display: block;
		margin: 20px auto 5px !important;
	}
	.states-tabs .btn.btn-link {
		margin-top: 0 !important;
	}
	.states-tabs .close {
		margin: -35px 0 -10px 0 !important;
		padding: 0 5px !important;
		font-size: 40px;
    font-weight: 100;
	}


	.left-nav-bar {
		width: 100% !important;
		position: fixed;
		top: 48px;
		left: 0;
		margin-top: 0;
		border: none;
		z-index: 97;
		will-change: top;
    	transition: top 200ms linear;
	}
	.left-nav-bar dt {
		height: 80px;
		margin-top: 0;
		border-bottom: solid 1px #dcdcdc;
		will-change: margin-top;
    	transition: margin-top 200ms linear;
		z-index: 5;
	}
	.left-nav-bar dt.headroom--unpinned {
    margin-top: -78px;
	}
	.visible-banner-top .left-nav-bar {
		top: 108px;
	}

	.left-nav-bar dt > div {
		float: right;
	}
	.left-nav-bar .personal-info {
		width: auto;
		margin: 15px 0 15px 15px;
		float: left;
		font-size: 18px;
		line-height: 50px;
	}
	.left-nav-bar .personal-info .img {
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 0 8px 0 0;
		border-radius: 25px;
		vertical-align: middle;
	}
	.left-nav-bar.has-scores .personal-info .img {
		margin: 0 55px 0 0;
	}
	.left-nav-bar .personal-info .img:after {
		display: inline-block;
		width: 20px;
		height: 20px;
		position: absolute;
		content: "\e046";
		font-family: 'Glyphicons Halflings';
		right: -8px;
		bottom: 0;
		background-color: #d8d8d8;
		border-radius: 50%;
		color: #fff;
		font-size: 10px;
		line-height: 20px;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
		pointer-events: none;
	}
	.left-nav-bar dt .btn {
		margin: 28px 20px 0 0 !important;
		vertical-align: middle;
	}
	.left-nav-bar dt .btn.img-overlay {
		margin: 0 !important;
	}
	.left-nav-bar dt .btn-default {
		display: none !important;
	}
	.left-nav-bar.has-scores dt .btn-default {
		display: block !important;
	}
	.left-nav-bar .personal-info .thum-delete {
		display: none !important;
	}
	.left-nav-bar dd {
		display: none;
	}

	.left-nav-bar .personal-info .score-total {
		width: 37px;
    height: auto;
		padding-top: 0;
    border-radius: 15px;
    line-height: 19px;
    top: 13px;
    right: -55px;
    bottom: auto;
    background-size: 100%;
    background-position: center;
	}
	.left-nav-bar .personal-info .score-total div {
		display: none;
	}
	.left-nav-bar .score-total.gold:before {
		display: none;
	}

	.left-nav-bar.shown-scores #my-scores {
		display: block;
	}
	#my-scores {
		display: none;
		width: 100%;
		padding-bottom: 20px;
		position: absolute;
		top: 80px;
		background-color: #fff;
	}
	#my-scores .close {
		padding: 0 10px !important;
		font-size: 40px;
    font-weight: 100;
	}
	#my-scores .score-total {
		position: static;
		margin: -5px auto 0;
		background-image: none;
		background-color: transparent;
		color: transparent;
	}
	#my-scores .score-total div {
		font-size: 28px;
		font-weight: bold;
	}
	#my-scores .score-total.gold div {
		color: #fcbc4e;
	}
	#my-scores .score-total.silver div {
		color: #c4c2c0;
	}
	#my-scores .score-total.bronze div {
		color: #cabbac;
	}
	#my-scores li {
		margin: 0 40px;
		font-size: inherit;
	}
	#my-scores dt {
		background-color: #fff;
	}
	#my-scores dd {
		display: block;
		background-color: #fff;
	}
	#my-scores .footnote {
		font-size: 11px;
		letter-spacing: 0;
	}

	.nav-bg-shown .nav-sp-bg {
		display: block;
		opacity: 0.7;
	}
	.nav-sp-wrap {
		display: block;
	}
	.has-submenu .nav-sp-title {
		display: block;
	}
	#submenu {
		display: none;
	}


	#fixed-popup-under-construction {
		width: 92%;
		top: 220px;
		left: 4%;
	}
	#fixed-popup-under-construction dl {
		padding: 15px 0 10px;
	}
	#fixed-popup-under-construction dt, #fixed-popup-under-construction dd {
		text-align: center;
	}

	.backdrop-modal .box {
		width: 280px;
		margin-top: 90px;
		padding: 20px 0 10px;
		font-size: 15px;
	}
	.backdrop-modal .box img {
		width: 46px;
	}
}

@media screen and (max-width: 330px) {
	.header-menu {
		width: 50px;
	}
	.header-menu .header-menu-inner .header-message span{
		display: none;
		margin-top: 0;
	}
	.footer-wrap .footer {
		padding: 0 1% !important;
	}
}
