<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="NoticeMapper">
	<resultMap type="Notice" id="noticeMap">
		<id property="no" column="NNO"/>
		<result property="title" column="NTITLE"/>
		<result property="content" column="NCONTENT"/>
		<result property="writer" column="NWRITER"/>
		<result property="count" column="NCOUNT"/>
		<result property="date" column="NDATE"/>
		<result property="attach" column="ATTACH"/>
	</resultMap>
	
	<select id="selectNoticeList" resultMap="noticeMap">
		SELECT NNO, NTITLE, NCONTENT, NWRITER, NCOUNT, NDATE, ATTACH FROM NOTICE
	</select>
	
	<select id="selectNotice" parameterType="int" resultMap="noticeMap">
		SELECT
		  NNO, NTITLE, NCONTENT, NWRITER, NCOUNT,
		  NDATE, ATTACH
		FROM NOTICE
		WHERE NNO = #{no}
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE 
		VALUES(SEQ_NNO.NEXTVAL, #{title}, #{content}, #{writer},
				0, SYSDATE, #{attach})
				
		<!--
			title = '해당 글의 제목';
			column = 'title';
			이라면 
			
			#{title}을 하면 '해당 글의 제목'이 들어가지만
			${title}을 하면 해당 글의 제목 이 들어간다.
			
			SET ${title} = #{title} 은
			SET	title = '해당 글의 제목' 을 의미한다.
		 -->
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET NTITLE=#{title}, NCONTENT=#{content},
			ATTACH=#{attach}
		WHERE NNO=#{no}			
	</update>
	
	<delete id="deleteNotice" parameterType="Notice">
		DELETE FROM NOTICE WHERE NNO = #{no}
	
	</delete>
	
</mapper>
